<html style="background-color:#fff!important">

  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/pdf.css" />
  </head>

  <body style="background-color:#fff;position:relative">
    {{#if is_contract}}
      <div
        class="container"
        id="A4"
        style="background:#fff;max-width:970px;font-family:Arial"
      >
        <div
          class="A4"
          style="width:850px;display:table;height:1200px;position:relative"
        >
          <div
            class="top_blue_strip"
            style="width:100%;height:10px;background-color:#0a5094"
          ></div>
          <div class="headerLogo" style="display:flex;margin:40px 40px 0 40px">
            <div style="width:20%"><img
                src="{{doctor_image}}"
                style="max-width:100%;max-height:60px"
              /></div>
            <div
              style="width:52%;font-size:27px;font-weight:700;text-align:center"
            >
              <p>Payment Plan Contract</p><img
                src="images/PNG/powered_by_deneftis.svg"
                style="width:31%"
              />
            </div>
            <div style="margin-top:20px">
              <p>Contract Code :<b>{{contract_code}}</b></p>
              <p>Contract Status:<b>{{payment_status}}</b></p>
            </div>
          </div>
        </div>{{#if is_service_record_or_payments}}{{/if}}
      </div>
    {{/if}}
  </body>

</html>